/*------------------------------------------------------------------
[Tabela de comentários]

1. Variables
2. General style
    2.1 Typography
    2.2 Specials Classes
3. Aside
    3.1 Burger Button
    3.2 Fullscreen Menu
4. Pages Style
5. Home Slider
    5.1 Slider Navigation Buttons
    5.2 Slider Inner Info
    5.3 Slide Home
    5.4 Slide About
    5.5 Slide Cases
    5.6 Slide Contact
    5.7 Pagination
6. Cases
7. About
8. Contact
10. Responsive Rules
11. Preloader
12. Animations
13. Scroll Bar
------------------------------------------------------------------*/

/**
 * 1. Variables
 */

:root {
  --green-color: rgba(108, 255, 108, 1);
  --bg-color: #151515;
  --txt-color: #333334;
  --light-grey-color: #87969a;
  --white-color: #fff;
}

/**
 * 2. General style
 */
::selection {
  background: #555;
  color: #fff;
}
::-moz-selection {
  background: #555;
  color: #fff;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
}
body {
  background: var(--bg-color);
  padding: 0;
  margin: 0 auto;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
article,
aside,
details,
figcaption,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
ol,
ul {
  list-style-type: none;
  list-style: none;
  padding-left: 0 !important;
  -webkit-padding-start: initial !important;
  -moz-padding-start: initial;
}
menu,
ol,
ul {
  padding: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  margin: 0;
  padding: 0;
}
span {
  display: inline-block;
}
img {
  display: block;
  max-width: 100%;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/**
 * 2.1 Typography
 */

h1,
h2,
h4,
h5,
h6 {
  margin-top: 0;
}
h1 {
  font-size: calc(80px + 1vw);
}
h2 {
  font-size: calc(36px + 16 * (100vw - 992px) / 1508);
}
h3 {
  font-size: calc(28px + 16 * (100vw - 992px) / 1508);
  margin-bottom: 20px;
}
h4 {
  font-size: calc(24px + 16 * (100vw - 992px) / 1508);
  font-weight: 300;
}
h5 {
  font-size: 20px;
  font-weight: 400;
}
h6 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: calc(10px + 10 * (100vw - 992px) / 1508);
}
p {
  font-size: calc(18px + 2 * (100vw - 992px) / 1508);
  line-height: 1.8;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: inherit;
}

/**
 * 2.2 Specials Classesy
 */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.tags {
  color: var(--light-grey-color);
  position: fixed;
  bottom: 0;
  left: 10px;
  font-size: 12px;
  font-family: "La Belle Aurore", cursive;
  z-index: 800;
}
.top-tags {
  bottom: auto;
  top: 70px;
}
.bottom-tags {
  bottom: 20px;
}
.title {
  position: absolute;
  top: 80px;
  right: 0;
}
.title h4 {
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
.title h4::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: var(--green-color);
  bottom: -2px;
  left: -10px;
}
.center-block {
  display: flex;
  justify-content: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
  display: block;
}
.position-relative {
  position: relative;
}
.align-row--center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.align-column--center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/**
 * 3. Sidenar Menu
 */

aside {
  position: fixed;
  top: 0;
  right: -10px;
  left: -10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
aside .bg-color {
  position: absolute;
  z-index: 1;
  background-color: var(--green-color);
  width: 100%;
  height: 100%;
  transition: all ease 0.2s;
}
aside .ds-logo {
  z-index: 16;
  width: 33.33333%;
  margin-left: 25px;
}
aside .ds-logo img {
  width: 60px;
}
aside .txt-nav {
  z-index: 15;
  color: var(--white-color);
  width: 33.33333%;
  height: 100%;
  padding: 10px 15px;
  justify-content: space-evenly;
}
aside .txt-nav .line-menu {
  width: 20px;
  height: 2px;
  background-color: var(--white-color);
}
aside .txt-nav p,
aside .txt-nav div {
  font-size: 10px;
}

/**
 * 3.1 Burger Button
 */

.header {
  z-index: 15;
  width: 33.33333%;
  height: 80px;
}
.btn-nav-container {
  width: 70px;
  height: 20px;
  cursor: pointer;
  z-index: 999;
  background: transparent;
  border: none;
  outline: none;
}
.btn-nav {
  width: 100%;
  height: 3px;
  background: var(--white-color);
  top: 0;
  transition: all ease 0.2s;
}
.btn-nav:before,
.btn-nav:after {
  content: "";
  position: absolute;
  left: 0;
  background: var(--white-color);
  height: 100%;
  transition: all ease 0.3s;
}
.btn-nav:before {
  top: -8px;
  width: 50%;
}
.btn-nav:after {
  top: 8px;
  width: 75%;
}
.btn-nav-container:hover .btn-nav:before,
.btn-nav-container:hover .btn-nav:after {
  width: 100%;
}
.btn-nav-container.close-menu .btn-nav {
  transform: rotate(-45deg);
}
.btn-nav-container.close-menu .btn-nav:after {
  opacity: 0;
  transition: all ease 0.2s;
}
.btn-nav-container.close-menu .btn-nav:before {
  top: 0;
  transform: rotate(90deg);
  width: 100%;
  transition: all ease 0.2s;
  background: var(--white-color);
}

/**
 * 3.1 Fullscreen Menu
 */

.float-nav {
  z-index: 9;
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
}
.float-nav .bg1,
.float-nav .bg2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(108, 255, 108, 0.6);
  top: 0;
  left: 100%;
  transition: all 0.7s ease 0.3s;
}
.float-nav .bg2 {
  z-index: 99;
  background: rgba(108, 255, 108, 1);
  transition-delay: 0s;
}
.float-nav .container {
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  max-width: none;
}
.float-nav ul {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  opacity: 0;
  transition: all 0.3s ease 0s;
  padding: 0;
  margin: 40px;
}
.float-nav ul::before,
.float-nav ul::after {
  text-transform: lowercase;
  position: absolute;
  font-size: 18px;
  color: var(--light-grey-color);
  font-family: "La Belle Aurore";
}
.float-nav ul::before {
  content: "<nav>";
  top: -30px;
}
.float-nav ul::after {
  content: "</nav>";
  bottom: 0;
  right: 0;
}
.float-nav ul li {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease 0.3s;
}
.float-nav ul li a {
  font-size: 18px;
  position: relative;
  color: var(--white-color);
  font-weight: 600;
  letter-spacing: 0.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease 0.2s;
}
.float-nav ul li a span {
  margin-right: 15px;
}
.float-nav ul li a span img {
  width: 40px;
}
.float-nav.active .bg1,
.float-nav.active .bg2 {
  left: 0;
}
.float-nav.active .bg1 {
  transition-delay: 0s;
}
.float-nav.active .bg2 {
  transition-delay: 0.3s;
}
.float-nav.active ul {
  opacity: 1;
  transition-delay: 1s;
}

/**
 * 4.1 Pages Style
 */

.ds-preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  background-color: #151515;
}
.ds-main-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  opacity: 0;
  background-color: var(--bg-color);
}
.ds-container {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 12em;
}
.ds-section__block {
  width: 85%;
  max-width: 88em;
  margin: 0 auto 6em;
}
.ds-page-title span {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #df1f29;
}
.page-header {
  text-transform: uppercase;
  position: relative;
  margin: 15px 0;
}
.page-desc {
  width: 50vh;
  font-size: 1.5em;
  line-height: 1.5;
  color: #151515;
  letter-spacing: 0.05em;
}

/**
 * 5. Home Slider
 */

.home-slider {
  padding-top: 0 !important;
}
.swiper-container {
  width: 100%;
  height: 100vh;
}
.swiper-slide {
  overflow: hidden;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  background: -moz-linear-gradient(
    top,
    black 0,
    transparent 50%,
    transparent 63%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    black 0,
    transparent 50%,
    transparent 63%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    black 0,
    transparent 50%,
    transparent 63%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#c9000000', GradientType=0);
  transition: all 0.65s ease;
}
.swiper-slide-duplicate-active .overlay,
.swiper-slide-active .overlay {
  opacity: 0.4;
}
.slide-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-inner--image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  transform: scale(1.07);
  -webkit-transition: opacity 0.6s ease-in-out, transform 2s ease 0.7s;
  -moz-transition: opacity 0.6s ease-in-out, transform 2s ease 0.7s;
  transition: opacity 0.6s ease-in-out, transform 2s ease 0.7s;
}
.swiper-slide-duplicate-active .slide-inner--image,
.swiper-slide-active .slide-inner--image {
  opacity: 1;
  transform: scale(1);
}

/**
 * 5.1 Slider navigation buttons
 */

.swiper-nav-btn {
  z-index: 20;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15vh;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px !important;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.2em;
  line-height: 2em;
  font-size: 12px;
  width: auto;
  height: 24px;
  background-image: none !important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.swiper-button-prev {
  left: 0 !important;
  -webkit-transition: padding-left 0.3s ease;
  -moz-transition: padding-left 0.3s ease;
  transition: padding-left 0.3s ease;
}
.swiper-button-next {
  right: 0 !important;
  -webkit-transition: padding-right 0.3s ease;
  -moz-transition: padding-right 0.3s ease;
  transition: padding-right 0.3s ease;
}
.swiper-button-prev:hover {
  padding-left: 90px;
}
.swiper-button-prev:hover::after {
  width: 75px;
}
.swiper-button-next:hover {
  padding-right: 90px;
}
.swiper-button-next:hover::after {
  width: 75px;
}

/**
 * 5.2 Slider inner info
 */

.slide-inner--info {
  width: 100%;
  height: 100%;
  min-height: 50px;
  padding-left: 3em;
  color: #fff;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.swiper-slide-active .slide-inner--info {
  opacity: 1;
  transition: opacity 1s ease 1s;
}

/**
 * 5.3 Slider Home
 */

.slide-inner--info .display-slide--home h1 {
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1em;
  color: #fff;
}
.slide-inner--info .display-slide--home h4 {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  font-family: "Roboto Mono";
}
.slide-inner--info .display-slide--home p {
  position: relative;
  font-size: 14px;
  font-weight: 400;
}
.slide-inner--info .display-slide--home p::before {
  content: "";
  background-color: var(--green-color);
  width: 40px;
  height: 3px;
  position: absolute;
  left: -10px;
  bottom: -2px;
  z-index: 2;
}

/**
 * 5.4 Slider About
 */

.swiper-container--about {
  width: 95%;
  height: 100%;
}
.display-slide--about {
  position: relative;
  width: 100%;
  height: 100%;
}
.display-about--info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.display-about--info .txt-about--info {
  max-width: 550px;
  text-align: left !important;
}
.display-about--info .txt-about--info h1 {
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 85px;
  margin-top: 40px;
}
.display-about--info .txt-about--info h5 {
  font-size: 20px;
  color: var(--green-color);
  font-weight: 400;
}
.display-about--info .txt-about--info p {
  font-size: 12px;
  font-weight: 400;
  max-width: 550px;
}
.txt-green {
  color: var(--green-color);
}
.txt-about--info .content-btn {
  margin-top: 40px;
  width: 100%;
  font-family: "Roboto Mono";
  font-size: 12px;
  font-weight: 700;
}
.txt-about--info .content-btn svg {
  width: 20px;
}
.social-icons {
  margin-top: 20px;
  height: 30px;
  display: flex;
  align-items: center;
}
.social-line {
  width: 80px;
  height: 1px;
  margin-right: 15px;
  background-color: var(--white-color);
}
.social-display {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  overflow: hidden;
}
.social-wrap {
  display: block;
  width: 30px;
  height: 60px;
  transition: all 0.2s ease-in-out;
}
.social-display:hover .social-wrap {
  margin-top: -30px;
}
.social-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
 * 5.5 Slider Cases
 */
.display-txt--none {
  display: none;
}
.swiper-container--cases {
  width: 100%;
  height: 100%;
}
.swiper-container--cases .swiper-slide {
  text-align: center;
  font-size: 18px;
  border: 1px solid #f00;
}

/**
 * 5.6 Slider Contact
 */

.slide-inner--info .copyright {
  width: 50px;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 40px;
}
.swiper-container--cases .swiper-slide .box {
  width: 100%;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-slide .box .cases-content img {
  width: 400px;
}

/**
 * 5.7 Pagination
 */

.expanded-timeline {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: right;
  z-index: 3;
  bottom: 2.8em;
  right: 3em;
  width: 40vh;
}
.swiper-pagination-progress {
  z-index: 4;
  width: 85%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}
.swiper-pagination-progressbar {
  background: #fff !important;
}
.expanded-timeline__counter span {
  text-align: center;
  margin-left: 1.8em;
  margin-right: 100%;
  padding: 0.4em 0;
  color: #fff;
  display: block;
}
.scroll-message {
  position: absolute;
  right: 0;
  color: #fff;
  opacity: 0.5;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.15em;
}
.scroll-svg {
  width: 24px;
  margin: 0 auto 1.2em;
  display: block;
}

/*----------------------------------------
        MEDIA QUERIES
-----------------------------------------*/

@media only screen and (max-width: 805px) {
  h1 {
    font-size: calc(48px + 1vw);
  }
  h6 {
    font-size: 16px;
  }
  blockquote {
    margin: 0 auto 15px;
    font-size: 1em;
  }
  .expanded-timeline {
    width: 50vh;
  }
  .overlay {
    background: -moz-linear-gradient(
      top,
      black 0,
      transparent 35%,
      transparent 45%,
      rgba(0, 0, 0, 0.9) 100%
    );
    background: -webkit-linear-gradient(
      top,
      black 0,
      transparent 35%,
      transparent 45%,
      rgba(0, 0, 0, 0.9) 100%
    );
    background: linear-gradient(
      to bottom,
      black 0,
      transparent 35%,
      transparent 45%,
      rgba(0, 0, 0, 0.9) 100%
    );
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#c9000000', GradientType=0);
  }
  .swiper-button-prev,
  .swiper-button-next {
    bottom: 1.4em;
    top: auto;
  }
  .expanded-timeline {
    display: none;
  }
  .slide-inner--info {
    width: 100%;
    text-align: center;
    min-height: 50px;
    bottom: 10vh;
    padding-left: 0;
    color: #fff;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .ds-container {
    padding-top: 6em;
    padding-bottom: 3em;
  }
  .ds-section__block {
    width: auto;
    margin: 0 15px 3em;
  }
  .page-desc {
    width: 100%;
    font-size: 1.2em;
    line-height: 1.5;
    color: #151515;
    letter-spacing: 0.05em;
  }
}
@media only screen and (min-width: 806px) and (max-width: 991px) {
  .swiper-container--cases {
    margin-left: -5%;
  }
}
@media only screen and (min-width: 992px) {
  .tags {
    left: 90px;
    font-size: 18px;
  }
  .header {
    width: 100%;
    height: 80px;
  }
  aside {
    position: fixed;
    left: 0;
    width: 80px;
    height: 103vh;
    flex-direction: column;
  }
  aside .header:hover .bg-color {
    opacity: 0;
  }
  aside .ds-logo {
    width: 100%;
    margin-top: 40px;
    margin-left: 0;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  aside .ds-logo img {
    width: 80%;
  }
  aside .txt-nav {
    width: 100%;
    height: 130px;
    padding: 0 0 40px 0;
    flex-direction: column;
    justify-content: space-evenly;
  }
  aside .txt-nav .line-menu {
    transform: rotate(-90deg);
  }
  aside .txt-nav p,
  aside .txt-nav div {
    transform: rotate(-90deg);
  }
  .swiper-button-prev {
    left: 90px !important;
  }
  .display-slide--about {
    margin-top: 0;
  }
  .display-txt--none {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .display-txt {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .swiper-container--cases {
    margin-right: 20px;
  }
  .swiper-container--cases .swiper-slide {
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .swiper-container--cases .swiper-slide.swiper-slide-active {
    opacity: 1;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .swiper-container--cases .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1367px) {
}

/*
* 11. Preloader
*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1999999999;
}
.preloader.immune {
  bottom: 0;
}
.preloader.white {
  background-color: rgba(255, 255, 255, 0.3);
}
.preloader.black {
  background-color: rgba(1, 1, 1, 0.5);
}
.preloader > i.radial-loader:not(:required) {
  -moz-animation: radial-loader 0.5s infinite linear;
  -webkit-animation: radial-loader 0.5s infinite linear;
  animation: radial-loader 0.5s infinite linear;
  border-color: var(--green-color);
  border-style: solid;
  border-width: 2px;
  border-right-color: transparent;
  border-radius: 100%;
  display: block;
  position: relative;
  float: right;
  margin: 10px 40px;
  overflow: hidden;
  width: 10px;
  height: 10px;
}
.preloader > span.loading-bar {
  -moz-animation: loading-bar 3s 1;
  -webkit-animation: loading-bar 3s 1;
  animation: loading-bar 3s 1;
  display: block;
  height: 2px;
  background-color: #ea6052;
  opacity: 0;
  transition: width 0.5s;
}
.preloader > span.loading-bar.green-colored {
  background-color: var(--green-color);
}
.preloader > .green-colored.radial-loader {
  border-color: var(--green-color);
  border-right-color: transparent !important;
}

/*
* 12. Animations
*/

@-moz-keyframes loading-bar {
  0% {
    width: 0%;
    opacity: 1;
  }
  90% {
    width: 90%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
@-webkit-keyframes loading-bar {
  0% {
    width: 0%;
    opacity: 1;
  }
  90% {
    width: 90%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
@keyframes loading-bar {
  0% {
    width: 0%;
    opacity: 1;
  }
  90% {
    width: 90%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
@-moz-keyframes radial-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes radial-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes radial-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*
* 13. Scroll Bar
*/

::-webkit-scrollbar {
  width: 7px !important;
}
::-webkit-scrollbar-track {
  background: var(--white-color) !important;
}
::-webkit-scrollbar-thumb {
  background: var(--grey-color-1) !important;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--green-color) !important;
}
