/*----------------------------------------
        VARIABLES
-----------------------------------------*/
:root {
  --green-color: #6cff6c;
  --bg-color: #25262a;
  --txt-color: #333334;
  --light-grey-color: #87969a;
  --white-color: #fff;
}

/*----------------------------------------
        RESET
-----------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
}
html,
body {
  scroll-behavior: smooth;
  color: var(--txt-color);
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: var(--bg-color);
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}
span {
  display: inline-block;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}
img {
  display: block;
  max-width: 100%;
}
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button {
  outline: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

/*----------------------------------------
        OTHER CLASSES
-----------------------------------------*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.content {
  width: 100%;
  height: auto;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}
.display-txt {
  width: 100%;
  max-width: 660px;
}
.position-relative {
  position: relative;
}
.tags {
  color: var(--light-grey-color);
  position: fixed;
  bottom: 0;
  left: 10px;
  font-size: 18px;
  font-family: "La Belle Aurore", cursive;
  z-index: 800;
}
.top-tags {
  bottom: auto;
  top: 40px;
}
.bottom-tags {
  bottom: 20px;
}
.text-green {
  color: var(--green-color);
}
.align-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.align-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*----------------------------------------
        BTN ICON MENU
-----------------------------------------*/
.header {
  background-color: brown;
  z-index: 999;
  width: 100%;
  height: 80px;
}
.btn-nav-container {
  background-color: aqua;
  width: 50px;
  height: 20px;
  cursor: pointer;
  z-index: 999;
  background: transparent;
  border: none;
  outline: none;
}
.btn-nav {
  width: 100%;
  height: 3px;
  background: var(--white-color);
  top: 0;
  transition: all ease 0.2s;
}
.btn-nav:before,
.btn-nav:after {
  content: "";
  position: absolute;
  left: 0;
  background: var(--white-color);
  height: 100%;
  transition: all ease 0.3s;
}
.btn-nav:before {
  top: -8px;
  width: 50%;
}
.btn-nav:after {
  top: 8px;
  width: 75%;
}
.btn-nav-container:hover .btn-nav:before,
.btn-nav-container:hover .btn-nav:after {
  width: 100%;
}
.btn-nav-container.close-menu .btn-nav {
  transform: rotate(-45deg);
}
.btn-nav-container.close-menu .btn-nav:after {
  opacity: 0;
  transition: all ease 0.2s;
}
.btn-nav-container.close-menu .btn-nav:before {
  top: 0;
  transform: rotate(90deg);
  width: 100%;
  transition: all ease 0.2s;
  background: var(--white-color);
}

/*----------------------------------------
        SIDEBAR MENU
-----------------------------------------*/

/*----------------------------------------
        FULLSCREEN MENU
-----------------------------------------*/
.float-nav {
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.float-nav .bg1,
.float-nav .bg2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.6);
  top: 0;
  left: 100%;
  transition: all 0.7s ease 0.3s;
}
.float-nav .bg2 {
  z-index: 900;
  background: rgba(108, 255, 108, 1);
  transition-delay: 0s;
}
.float-nav .container {
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  max-width: none;
}
.float-nav .logo-menu {
  z-index: 10;
  max-width: 820px;
  margin: 20px;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.float-nav ul {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  opacity: 0;
  transition: all 0.3s ease 0s;
  padding: 0;
  margin: 40px;
}
.float-nav ul::before,
.float-nav ul::after {
  text-transform: lowercase;
  position: absolute;
  font-size: 18px;
  color: var(--light-grey-color);
  font-family: "La Belle Aurore";
}
.float-nav ul::before {
  content: "<nav>";
  top: -10%;
}
.float-nav ul::after {
  content: "</nav>";
  bottom: 0;
  right: -10%;
}
.float-nav ul li {
  flex: 1;
  position: relative;
  margin-bottom: 20px;
  transition: all 0.2s ease 0.3s;
}
.float-nav ul li span {
  transform: rotate(-90deg);
  margin-right: 40px;
  padding: 5px;
  color: var(--green-color);
}
.float-nav ul li a {
  font-size: 16px;
  position: relative;
  color: var(--txt-color);
  letter-spacing: 0.4em;
  transition: all 0.2s ease 0.2s;
}
.float-nav ul li a:hover {
  color: var(--green-color);
}
.float-nav.active .bg1,
.float-nav.active .bg2 {
  left: 0;
}
.float-nav.active .bg1 {
  transition-delay: 0s;
}
.float-nav.active .bg2 {
  transition-delay: 0.3s;
}
.float-nav.active .logo-menu,
.float-nav.active ul {
  opacity: 1;
  transition-delay: 1s;
}

/*----------------------------------------
        LINES DIVIDER
-----------------------------------------*/
.lines {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 0;
  pointer-events: none;
  z-index: 20;
}
.lines.ready {
  z-index: 1;
}
.lines .line-col {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  height: 100vh;
}
.lines.finish .line-col:before {
  height: 100%;
}
.lines .line-col:nth-child(1):before {
  -o-transition-delay: 2.9s;
  -webkit-transition-delay: 2.9s;
  transition-delay: 2.9s;
}
.lines .line-col:first-child:before {
  background: 0 0;
}
.lines .line-col:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 0%;
  background: rgba(135, 150, 154, 0.05);
  transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  -moz-transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  -webkit-transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  -o-transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
}
.lines.finish .line-col:after {
  height: 0%;
}
.lines .line-col:nth-child(1):after {
  top: 0;
  bottom: auto;
  -webkit-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
.lines .line-col:first-child:after {
  left: auto;
  right: 0;
  width: 1000%;
}
.lines .line-col:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #1e1e1e;
  z-index: 10;
  transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  -moz-transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  -webkit-transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  -o-transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
}

/*----------------------------------------
        ANIMATIONS
-----------------------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1999999999;
}
.preloader.immune {
  bottom: 0;
}
.preloader.white {
  background-color: rgba(255, 255, 255, 0.3);
}
.preloader.black {
  background-color: rgba(1, 1, 1, 0.5);
}
.preloader > i.radial-loader:not(:required) {
  -moz-animation: radial-loader 0.5s infinite linear;
  -webkit-animation: radial-loader 0.5s infinite linear;
  animation: radial-loader 0.5s infinite linear;
  border-color: var(--green-color);
  border-style: solid;
  border-width: 2px;
  border-right-color: transparent;
  border-radius: 100%;
  display: block;
  position: relative;
  float: right;
  margin: 10px 40px;
  overflow: hidden;
  width: 10px;
  height: 10px;
}
.preloader > span.loading-bar {
  -moz-animation: loading-bar 3s 1;
  -webkit-animation: loading-bar 3s 1;
  animation: loading-bar 3s 1;
  display: block;
  height: 2px;
  background-color: #ea6052;
  opacity: 0;
  transition: width 0.5s;
}
.preloader > span.loading-bar.green-colored {
  background-color: var(--green-color);
}
.preloader > .green-colored.radial-loader {
  border-color: var(--green-color);
  border-right-color: transparent !important;
}

/*----------------------------------------
        ANIMATIONS
-----------------------------------------*/
@-moz-keyframes loading-bar {
  0% {
    width: 0%;
    opacity: 1;
  }
  90% {
    width: 90%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
@-webkit-keyframes loading-bar {
  0% {
    width: 0%;
    opacity: 1;
  }
  90% {
    width: 90%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
@keyframes loading-bar {
  0% {
    width: 0%;
    opacity: 1;
  }
  90% {
    width: 90%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
@-moz-keyframes radial-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes radial-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes radial-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*----------------------------------------
        MEDIA QUERIES
-----------------------------------------*/
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1367px) {
}

/*----------------------------------------
        SCROLL BAR
-----------------------------------------*/
::-webkit-scrollbar {
  width: 7px !important;
}
::-webkit-scrollbar-track {
  background: var(--white-color) !important;
}
::-webkit-scrollbar-thumb {
  background: var(--grey-color-1) !important;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--green-color) !important;
}
